

<div class="nav_menu">
    <nav>
        <div class="dashboard-heading pull-left">
            <span class="dashboard-title ">Users </span><span class="f-blue f-14 m-r-40">(@ViewBag.totalUsersCount)</span>
            <div class="count-wrapper">
                <ul>
                    <li class="f-green"><span class="count-label">Active</span>: @ViewBag.totalUsersCount</li>
                    <li><span class="count-label">Inactive</span>: 0</li>
                </ul>
            </div>
        </div>
        <div class="user-login pull-right">
            <span class="f-16 f-normal"><img src="~/images/default-user.png" class="user-img" /></span>
        </div>
        <div class="clearfix"></div>
    </nav>
</div>
